// variables de color
$primary-color: #ffe92e;
$secondary-color: black;
$terciary-color: white;
$font-color: #aaa;

$box-shadow: 0 2px 0 rgba(0, 0, 0,0.6);

// variables de unidades
$limit: 10;

// variables de pixeles
$unit: 8px;